.item-url-strip {
	text-decoration: none;
	color: var(--white-color);
	cursor: pointer;
    margin-right: 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

.item-url-strip:hover {
	color: var(--white-color);
}

.item-card-strip {
    display: flex;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--secondary-color);
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    width: 100%;
    height: var(--item-card-strip-height);
    padding: 0.5rem 1rem;
}

.item-card-strip:hover {
    opacity: 1;
}

.item-card-strip__image {
    position: relative;
    height: 100%;
    min-width: 70px;
    border-radius: 0.5rem;
}

.item-card-strip__image::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.item-card-strip__image img {
	height: 100%;
    width: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
	position: absolute;
    object-position: 50% 50%;
}

.item-card-strip__favorite {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	z-index: 100;
	background-color: inherit;
	border-radius: 5px;
}

.item-card-strip__favorite:focus,
.item-card-strip__favorite:active,
.item-card-strip__favorite:hover,
.item-card-strip__favorite:visited,
.item-card-strip__favorite:focus-visible {
	outline: none;
	border: none;
	background-color: inherit;
	box-shadow: none;
}

.item-card-strip__favorite button {
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	background-color: inherit;
	border: none;
	cursor: pointer;
	outline: none;
	box-shadow: none;
}

.item-card-strip__favorite button:focus,
.item-card-strip__favorite button:active,
.item-card-strip__favorite button:active:focus,
.item-card-strip__favorite button:hover,
.item-card-strip__favorite button:visited,
.item-card-strip__favorite button:focus-visible {
	outline: none;
	border: none;
	background: inherit;
	box-shadow: none;
}

.item-card-strip__favorite button img {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
}

.item-card-strip__favorite.active button img {
	content: url('../../../public/svg-icons/FavoritesIconFilled.svg');
}

.item-card-strip__text {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    max-width: 80%;
}

.item-card-strip__title {
    margin: 0;
    font-size: clamp(0.75rem, 120%, 1.75rem);
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.item-card-strip__artist {
    margin: 0;
    font-size: 1rem;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}