.item-url-square {
	text-decoration: none;
	color: var(--white-color);
	cursor: pointer;
	margin-right: 1rem;
}

.item-url-square:hover {
	color: var(--white-color);
}

.item-card-square {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem;
	border-radius: 5px;
	background-color: var(--secondary-color);
	opacity: 0.75;
	transition: opacity 0.5s ease-in-out;
	width: var(--item-card-square-width);
	position: relative;
	height: 100%;
}

.item-card-square:hover {
	opacity: 1;
}

.item-card-square__image {
	height: 80%;
	border-radius: 0.5rem;
	position: relative;
}

.item-card-square__image::after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.item-card-square__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
	position: absolute;
	object-position: 50% 50%;
}

.item-card-square__favorite {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	z-index: 100;
	background-color: var(--primary-color);
	border-radius: 5px;
}

.item-card-square__favorite:focus,
.item-card-square__favorite:active,
.item-card-square__favorite:hover,
.item-card-square__favorite:visited,
.item-card-square__favorite:focus-visible {
	outline: none;
	border: none;
	background-color: var(--primary-color);
	box-shadow: none;
}

.item-card-square__favorite button {
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	background-color: inherit;
	border: none;
	cursor: pointer;
	outline: none;
	box-shadow: none;
}

.item-card-square__favorite button:focus,
.item-card-square__favorite button:active,
.item-card-square__favorite button:active:focus,
.item-card-square__favorite button:hover,
.item-card-square__favorite button:visited,
.item-card-square__favorite button:focus-visible {
	outline: none;
	border: none;
	background: inherit;
	box-shadow: none;
}

.item-card-square__favorite button img {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
}

.item-card-square__favorite.active button img {
	content: url('../../../public/svg-icons/FavoritesIconFilled.svg');
}

.item-card-square__title {
	margin: 0;
	font-size: clamp(0.75rem, 1.5vw, 1rem);
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

.item-card-square__artist {
	margin: 0;
	font-size: 0.875rem;
	overflow: hidden;
	text-transform: capitalize;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}
