.item-url-square {
	text-decoration: none;
	color: var(--white-color);
	cursor: pointer;
	margin-right: 1rem;
}

.item-url-square:hover {
	color: var(--white-color);
}

.item-card-square {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem;
	border-radius: 5px;
	background-color: var(--secondary-color);
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out;
	width: var(--item-card-square-width);
	position: relative;
	height: 100%;
}

.item-card-square:hover {
	opacity: 1;
}

.item-card-square__image {
	height: 80%;
	border-radius: 0.5rem;
	position: relative;
}

.item-card-square__image::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.item-card-square__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
	position: absolute;
    object-position: 50% 50%;
}

.item-card-square__title {
	margin: 0;
	font-size: clamp(0.75rem, 1.5vw, 1rem);
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

.item-card-square__artist {
	margin: 0;
	font-size: 0.875rem;
	overflow: hidden;
    text-transform: capitalize;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}
