.album {
    padding: 1.5rem;
}

.album__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    max-height: 200px;
}

.album__header__image {
    max-width: 200px;
    height: 100%;
    display: flex;
}

.album__header__image img {
    width: 80%;
    height: 80%;
}

.album__header__type {
    font-size: 1.5rem;
    opacity: 0.75;
}

.album__header__info__artists {
    font-size: 1.25rem;
}

.album__tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}

.album__tracks__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.album__tracks__list {
    width: 100%;
}