.items-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.items-list__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
}

.items-list__items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0.5rem 0rem;
}