:root {
  --primary-color: #222831;
  --secondary-color: #393E46;
  --white-color: #EEEEEE;
  --primary-font-family: 'Poppins', sans-serif;
  --sidebar-width: 240px;
  --item-card-square-width: 150px;
  --item-card-strip-height: 80px;
}

.App {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-family: var(--primary-font-family) !important;
  height: 100%;
  width: 100%;
  display: flex;
  user-select: none;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.start a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.5rem;
  border: 1px solid var(--secondary-color);
  display: flex;
  padding: 1rem;
}

.start a:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.spotify {
  color: #1DB954;
}

.spotifyIcon {
  height: 30px;
  margin-left: 0.5rem;
}

.SidebarMenu {
  z-index: 10;
}

.main {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--sidebar-width));
  height: 100%;
}

.main__content {
  width: 100%;
  height: 100%;
  overflow: scroll;
}